body{
    background-color: darkblue;
}
h1{
    text-align: center;
    background-color: cyan;
}
img{
    width: 350px;
}
a{
    background-color: cyan;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 45px;
    padding-bottom: 45px;
    display: inline;
    font-size: 30px;
    color: black;
    border-radius: 8px;
}
.wiki_simp{
    padding-left: 160px;
    padding-right: 160px;
    margin-right: 150px;
}
.ver_serie{
    padding-left: 160px;
    padding-right: 160px;
    margin-left: 150px;
}
table{
    text-align: center;
    background-color: cyan;
    width: 35%;
    border-color: red;
    border-width: 2px;
}
div{
    font-size: 30px;
    background-color: aqua;
}
input{
    width: 20%;
}
select{
    width: 15%;
    font-size: 20px;
}
input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }