body{
    background-color: darkblue;
}
h1{
    text-align: center;
    background-color: cyan;
}
img{
    width: 350px;
    margin-left: 500px;
    margin-right: 500px;
}
a{
    background-color: cyan;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 45px;
    padding-bottom: 45px;
    display: inline;
    font-size: 30px;
    color: black;
}
.wiki_simp{
    padding-left: 120px;
    padding-right: 120px;
}
p{
    color: white;
    font-size: 20px;
}